<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>marketing</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<jsp-config>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
			<taglib-location>/WEB-INF/c.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>http://java.sun.com/jstl/fn</taglib-uri>
			<taglib-location>/WEB-INF/fn.tld</taglib-location>
		</taglib>
	</jsp-config>

	<!-- 上下文参数配置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:spring*.xml</param-value>
	</context-param>

	<!-- 监听器的配置 -->
	<listener>
		<listener-class>com.bd17kaka.marketing.listener.SendCloudContextListener</listener-class>
	</listener>

	<!-- 编码过滤 -->
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- spring mvc控制器controller -->
	<servlet>
		<servlet-name>userweb</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>userweb</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

 	<!-- 用户登陆过滤器filter -->
 	<filter>
		<filter-name>IdentityFilter</filter-name>
		<filter-class>com.bd17kaka.marketing.filter.IdentityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>IdentityFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>IdentityFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>

</web-app> 
